<div class="container question">
    <div class="col-lg-3">
        <div >
            <img class="question-image" src="../static/images/question.svg">
        </div>

    </div>
    <div class="col-lg-9">

        <a class="question-name">TCP</a>
        <div>
            <p>Hello everybody! The Transmission Control Protocol (TCP) is one of the main protocols of the Internet protocol suite.</p>
        </div>

        <div class="question-bottom">
            <a href="#" class="link">3 answers</a>
            <p>Tags: <a href="#" class="link">winter</a> <a href="#" class="link">nature</a></p>
            <p> 42 <button><span class="glyphicon glyphicon-thumbs-up"></span></button>  1 <button><span class="glyphicon glyphicon-thumbs-down"></span></button></p>
        </div>

    </div>
</div>